div.corpo{
    margin:40px auto;
    max-width:800px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

a{
    color: #444;
}

h1{
    text-align: center;
}

h1,h2,h3{
    line-height:1.2
}

h2.galeria{
    text-align: center
}

.imaxecentrada{
    text-align: center;
}

.horario {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

.horario td,tr {
    border: 1px solid black;
    height: 35px;
    width: 200px;
}

img.marcada{
    border: 5px solid #252525;
}

p.descripcion{
    text-align: left;
    font-size: 0.75em;
    margin-top: -5px;
    margin-left: 7px;
}

body {
    margin: 0;
    padding: 0px;
}

nav {
    font-family: Arial, sans-serif; 
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav.dropdown {
    float: left;
    overflow: hidden;
}

nav.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav.dropdown-content a:hover {
    background-color: #ddd;
}

nav.dropdown:hover .dropdown-content {
    display: block;
}

footer{
    padding-top: 30px;
    text-align: center;
    p{
        margin: -7px;
    }
}

table.galeriataboa{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 0.5px;
    max-width: auto;
}

tr,td.galeria{
    border: 10px transparent;
    border-style: solid;
}

img.fotogaleria{
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
}

label.datospersoal{
    display: inline-block;
    width: 140px;
    text-align: right;
}

footer{
    padding-top: 30px;
    text-align: center;
    p{
        margin: -7px;
    }
}